* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.title {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

#mainpara {
    display: flex;
    justify-content: space-around;
}

#mainpara>img {
    max-width: 50%;
    border-radius: 5%;
}

#mainpara>p {
    max-width: 48%;
}

#maincoloms {
    display: flex;
    padding: 10px;
}

.colomn {
    max-width: 32%;
    padding: 1%;
}

.colomn>img {
    max-width: 90%;
    border-radius: 5%;

}