* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.title {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

#mainpara {
    display: flex;
    justify-content: space-around;
}

#mainpara>img {
    max-width: 50%;
    border-radius: 5%;
}

#mainpara>p {
    max-width: 48%;
}

#maincoloms {
    display: flex;
    padding: 10px;
    margin: auto;
}

.colomn {
    max-width: 33%;
    padding: 1%;

}

.colomn>img {
    max-width: 90%;
    border-radius: 5%;
    justify-self: center;
    display: flex;
}

#mainsignup {
    display: flex;
    justify-content: space-around;
}

#mainsignup>div {
    width: 33%;
}

#mainsignup>div>img {
    max-width: 100%;

}

#form1 {
    width: 100%;

}

/* make the form1 the size of the div */

#form1>div {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 2%;

}

/* center divs inside the form1 */


#form1>div>input {
    width: 100%;
}

/* center inputs inside the form1 */
#DOB {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#DOB>div {
    width: 30%;
}

#DOB>div>input {
    width: 100%;
}

#DOB>div>select {
    width: 100%;
}

.adress {
    width: 100%;
}

.adress>div {
    width: 40%;
}

.adress>div>input {
    width: 100%;
}

#fullname {
    width: 98%;

}

#fullname>div {
    width: 46%;
}

#fullname>div>input {
    max-width: 100%;
}

#checkbox {
    align-self: center;
}

#underPic {
    display: flex;
    flex-wrap: wrap;
}

#underpic>img {
    width: 32%;
}

#allproducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#allproducts>div {
    width: 33%;
    height: 40%;
    border: 2px solid beige;
    border-radius: 5%;
    height: fit-content;
}

#allproducts>div>img {
    width: 100%;
    border-radius: 5%;

}

#allproducts>div>p {
    padding: 1%;

}