* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #334;
}

.title {
    text-align: center;
    padding-top: 2%;
}



nav {
    background-color: #b1b1b1;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
}

.nav-item.active {
    background-color: #333;
    border-radius: 5%;
}



#mainpara {
    display: flex;
    justify-content: space-around;
}

#mainpara>img {
    max-width: 50%;
    border-radius: 5%;
}

#mainpara>div {
    border-radius: 5%;
    padding: 5%;
    max-width: 48%;
    background-color: #b1b1b1;

}



#maincoloms {
    display: flex;
    padding: 10px;
    margin: 2%;
    justify-content: space-evenly;
}

.colomn {
    width: 32%;

}

.colomn>img {
    width: 100%;
    border-radius: 5%;
    justify-self: center;
    display: flex;
}

.colomn>p {
    padding: 2%;
    width: 100%;
    border-radius: 8%;
    background-color: #b1b1b1;

}

#mainsignup {
    display: flex;
    justify-content: space-around;
}

#mainsignup>div {
    width: 33%;
}

#mainsignup>div>img {
    max-width: 100%;

}

#form1 {
    width: 100%;


}

/* make the form1 the size of the div */

#form1>div {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 2%;

}

/* center divs inside the form1 */


#form1>div>input {
    width: 100%;
    background-color: #b1b1b1;
}

/* center inputs inside the form1 */
#DOB {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#DOB>div {
    width: 30%;

}

#DOB>div>input {
    width: 100%;
    background-color: #b1b1b1;

}

#DOB>div>select {
    width: 100%;
    background-color: #b1b1b1;

}

.adress {
    width: 100%;
}

.adress>div {
    width: 40%;
}

.adress>div>input {
    width: 100%;
    background-color: #b1b1b1;

}

#fullname {
    width: 100%;
    display: flex;
    justify-content: center;

}

#fullname>div {
    width: 40%;
}

#fullname>div>input {
    max-width: 100%;
    background-color: #b1b1b1;

}

#checkbox {
    align-self: center;
}

#checktext {

    background-color: #b1b1b1;
}

#sub>input {
    padding: 5px;
    background-color: #b1b1b1;
}

#underPic {
    display: flex;
    flex-wrap: wrap;

}

#underpic>img {
    width: 32%;
}

#allproducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#allproducts>div {
    width: 30%;
    height: 450px;
    margin: 1%;
    border: 3px solid #333;
    border-radius: 5%;
    height: fit-content;
    background-color: #b1b1b1;
}


#allproducts>div>div>h3 {
    color: green;
    text-align: center;
}

#allproducts>div>img {
    width: 100%;
    border-radius: 5%;
    height: 350px;
}

#allproducts>div>p {
    padding: 3%;

}


/* need to pick a color scheme and finess the web page */